<div
    class="shadow shadow-bg top-0 start-0 w-100 position-fixed bar d-flex align-items-center justify-content-center"
>
    <div class="d-flex justify-content-center mx-4">
        <img class="logo" src="./images/HorariosUMa.png" />
    </div>
</div>