body {
    background: #d3d4d7;
    height: 100vh;
    width: 100vw;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000e16;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d3d4d7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container {
    height: 100vh;
}

.box2 {
    background: #3e8de3;
    width: 100%;
    max-width: 800px;
    max-height: 70vh;
}

.box5 {
    background: #3e8de3;
    max-height: 70vh;
}

.box3 {
    background: #86b1df;
    width: 100%;
    max-width: 800px;
}

.box4 {
    background: #3e8de3;
    width: 100%;
    max-width: 800px;
    max-height: 70vh;
}

.box4:hover {
    background: #2a7ed6;
}

.passe {
    min-width: 30%;
}

.bar {
    background-color: #3e8de3;
    z-index: 100;
    min-height: 5vh;
}

.bar2 {
    background-color: #3e8de3;
    z-index: 100;
    min-height: 8vh;
}

.modalBody {
    background: #d3d4d7;
    border: none;
}

.modalHeader {
    background: #3e8de3;
    border: none;
}

.metodoImg {
    max-width: 40%;
}

.shadow-bottom {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
    .box {
        min-width: 70%;
        margin-top: 100px;
    }
}
